* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .button {
    margin-inline: 50px;
    border: none;
    background: #676666;
    color: rgb(217, 215, 215);
    font-family: Candara;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    margin: 15px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #676666;
  }

  .contenedorImagen {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
    background-color: blueviolet;
  }