*, *::before, 
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --light-salmon: #FED4CD;
  --white: #ffffff;
  --salmon: #e47c7c;
  --dark-salmon: #C28B8B;
}

.flex {
  display: flex;
}

body {
  height: 100vh;
  background-color: var(--light-salmon);
  justify-content: center;
  align-items: center;
}

.welcome-title {
  font-family: 'Patua One', cursive;
  font-size: 1.6rem;
  color: var(--dark-salmon);
  font-weight: 400;
}

.contenedor{
  width: 18rem;
  height: 20rem;
  background-color: var(--white);
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  image-rendering: auto;
  flex-flow: column;
}

input {
  width: 14rem;
  padding: 0.3rem 0.2rem;
  margin: 0.4rem 0;
}

input::placeholder {
  color: var(--dark-salmon);
}

.btn {
  width: 6.4rem;
  height: 2rem;
  background: var(--salmon);
  color: var(--white);
  border: none;
  border-radius: 8px;
  margin: 0.4rem 0;
}

.contenedorHome {
  display: flow-root;
  justify-content:center;
}

.post-form {  
  background-color: #ffffff;
  padding: 10%;
  } 